html {
    --bg-color: #fdfdfd;
    --text-content: '#9ea2a7';
    --text-head: '#000000';
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg-color);
}

header {
    position: relative;
    width: 100%;
    margin-bottom: 3rem;
}

.banner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 55%;
    background: #54b5ff;
    background: linear-gradient(90deg, rgba(84, 181, 255, 1) 0%, rgba(159, 197, 204, 1) 100%);
    z-index: -10;
}

.user-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding-top: 6rem;
}

.user-img-container {
    border: 2px solid silver;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 3px 6px 25px -3px rgba(66, 68, 90, 1);
}

.user-img-container>img {
    width: 100%;
    border-radius: 50%;
}

#user-location {
    color: #686c71;
}

main {
    width: 100%;
    display: flex;
}

.about-col {
    padding: 1rem;
    width: 60%;
}

.friends-col {
    padding: 1rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.friends-container {
    background-color: white;
    border: solid silver 2px;
    border-radius: 4px;
    padding: 1rem;
    width: 70%;
}

.friends-container>ul {
    list-style: none;
    padding: 0;
}

.friends-container>ul>li {
    margin-bottom: 1.5rem;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.friends-container>ul>li:last-child {
    border: 0;
}

.about-section {
    padding: 3px;
    border-bottom: 1px silver solid;
}

#quote-content {
    font-style: italic;
}

.poke-section {
    border: 0;
}

.poke-content-container {
    display: flex;
    align-items: center;
}

.poke-ball {
    margin-right: 1rem;
}